# pyEuler .gitignore

# folders
.vscode/**
.vs/**
cppeuler/.vs/**
/.idea/**
/build/**
/.pytest_cache/**
bib/test_fest/.pytest_cache/**
not_done/.idea/**

# file types
*.pyc
*.exe
*.ilk
*.tlog
*.log
*.obj
*.pdb
*.filters
*.user
*.users
*.opendb
*.db
*.idb
*.ipch
*.pch
done/__pycache__/euler_019.cpython-36.pyc.52859488
*.egg
pyEuler.egg-info/PKG-INFO
pyEuler.egg-info/SOURCES.txt
pyEuler.egg-info/top_level.txt
pyEuler.egg-info/dependency_links.txt
