# pyEuler .gitignore

# folders
.vscode/**
.vs/**
cppeuler/.vs/**
/.idea/**
/.pytest_cache/**
lib/test_fest/.pytest_cache/**
not_done/.idea/**

# file types
*.pyc
*.exe
*.ilk
*.tlog
*.log
*.obj
*.pdb
*.filters
*.user
*.users
*.opendb
*.db
*.idb
*.ipch
*.pch
