# Solution to Python problem {{ problem_number }}

## Solution code
```python
{{ solution_code }}
```

## Home made solution dependencies
{% for dependency in dependencies %}
### `{{ dependency.name }}`
```python
{{ dependency.code }}
```
{% endfor %}
